@import "_variables";
@import "reset";

@font-face {
  font-family: "GTAmerica-Medium";
  src: url('../../fonts/GT-America-Medium.OTF') format("opentype");
}
@font-face {
  font-family: "GTAmerica-Regular";
  src: url('../../fonts/GT-America-Regular.OTF') format("opentype");
}
@font-face {
  font-family: "GTAmerica-RegularItalic";
  src: url('../../fonts/GT-America-Regular-Italic.OTF') format("opentype");
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
  font-family: "GTAmerica-Medium", Helvetica, Arial, serif;
  font-weight: 100;
  line-height: 1;
}

strong, b {
  font-family: "GTAmerica-Medium", Helvetica, Arial, serif;
  font-weight: 100;
}

p {
  margin-bottom: 1.5em;
  font-size: 34px;
  color: rgba(33, 31, 31, 1.0);
  letter-spacing: -0.5px;
  line-height: 44px;
  em {font-style: italic;}
  font-family: "GTAmerica-Regular", Helvetica, Arial, serif;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  margin: 0 6em;
  padding: 30px 0;
}

.page {
  padding: 5vh 5vw 10vh;
  margin: 0 auto;
  max-width: var(--content-width);

  .sticky-headline {
    position: absolute;
    display: block;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "GTAmerica-Medium", Helvetica, Arial, serif;
    font-size: 34px;
    color: #212020;
    letter-spacing: -1px;
  }
}

main {
  position: relative;

  .hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -5vh;

    img{
      width: auto;
      max-height: 60vh !important;
    }
  }

  .home-about-text {
    margin-bottom: 8rem;
    margin-top: 5rem;

  p {

    &:before {
        content: "About";
        padding-right: 3em;
        font-size: 24px;
        letter-spacing: 0;
        font-family: "GTAmerica-Medium", Helvetica, Arial, serif;
      }
    }

  .view-our-companies {
    margin-top: 1em;
    font-size: 24px;
    font-weight: 500;
  }

  span {
    color: #000;
    padding: .6rem;
  }
  }
}

.blog-section {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 2.4rem;
  border-bottom: 1px solid #dadada;

  .left-container {
    flex: 1;
    justify-content: space-between;
  }

  .right-container {
    flex: 0.9;

  }
}

.footer-grid {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 1.4rem;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.round-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 1;
  font-family: "GTAmerica-Medium", Helvetica, Arial, serif;
  margin: 5px 5px 0 0;
  cursor: pointer;
  min-width: 144px;
  text-align: center;
  transition: all .2s ease-in;
  border: 1px solid  #dadada;
  background: #fff;
  color: #000;
  bottom: 0;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

footer {
  padding: 5vh 12vw 1vh;
  background: rgba(33, 32, 32, .83);
  color: white;
  width: 100%;
  line-height: 1.5em;
  padding-bottom: 2rem;
}
